---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
      <section class="animate space-y-6">
        <h4 class="font-semibold text-black dark:text-white">
          캛us, jsem Robert <span class="text-xl">游녦游낕</span>
        </h4>
        <p class="animate">
            Sem h치z칤m v캩ci, co za n캩co stoj칤. Blogy, side projekty, n치hodn칳 my코lenky, ob캜as i n캩co z real life mimo monitor.
            Pokud bys cht캩l v캩d캩t v칤c, mrkni na m콢j <Link href="/work">profil</Link> nebo se 
            pod칤vej na <Link href="/blog">blog</Link>, kde p칤코u o r콢zn칳ch t칠matech, co m캩 zaj칤maj.
        </p>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Moje posledn칤 p콏칤sp캩vky
          </h5>
          <Link href="/blog">
            V코echno ostatn칤
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
      
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Zaj칤mav칠 projekty, 캜l치nky, nebo cokoliv jin칠ho
          </h5>
          <Link href="/projects">
            V코echno ostatn칤
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Kontakt
        </h5>
        <article>
          <p>
            Pokud se chce코 se mnou spojit ohledn캩 n캩캜eho nebo jen tak 콏칤ct ahoj,
            kl칤캞o se mi ozvi. 
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
